<html>
  <head>
    <title>SLR</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
    <left-pane class="pane">
      <heading>
        <logo-block>
          <logo>SLR</logo>
          <message>I'm in Europe right now! Just outside Amsterdam. Gonna go see some windmills.</message>
        </logo-block> 
        <interesting-stuff>
          Because of its crazy automatic type coercion rules, you only need the following six characters to write any javascript program: <tt>()[]+!</tt>. <a href="https://m.youtube.com/watch?v=sRWE5tnaxlI">This talk</a> walks through the creation of a compiler to turn arbitrarty javascript into a slightly larger alphabet, demonstrating the basic technique.
        </interesting-stuff>
      </heading>
      <navbar hx-target="content" _="on htmx:afterOnLoad take .selected for event.target">
        <div class="navbar-button selected" hx-get="/home.html">Home</div>
        <div class="navbar-button" hx-get="/about.html">About</div>
        <div class="navbar-button" hx-get="/evropa.html">Evropa</div>
      </navbar>
    </left-pane>
    <right-pane class="pane">
      <content hx-trigger="load" hx-get="/home.html"></content>
    </right-pane>
  </body>
</html>