.pane {
        height: fill-available;
        height: -webkit-fill-available;
        overflow: auto;
}
logo {
        font-family: futura;
        background-color: #303040;
        color: white;
        float: left;
        margin: 0;
        margin-right: 0.3em;
        padding-right: 0.2em;
        padding-left: 0.2em;
        font-size: 180%;
}
a {
        color: #222233;
        font-weight:bold;
}
message {
        margin: 0;
        display:block;
        font-style: italic;
        text-align: justify;
        text-align: justify-all;
        text-justify: inter-character;
        font-size: 70%;
        color: #777787;
}
navbar {
        display:block;
        margin-top:.2em;
        border-bottom:dotted;
        padding-bottom:0.3em;
}
.navbar-button {
        font-family: courier;
        width: fill-available;
        text-align: right;
        color: #333366;
        padding: 0.3em 0.1em;
}
body {
        font-size: 4vmin;
        color: #444454;
        display:flex;max-width:25em;margin:auto;
        padding: 0em 1em;
}
left-pane {
        float: right;
        flex: 0.4;
        padding-right:1em;
        padding-bottom: 3em;
}
right-pane {
        flex: 0.6;
        padding-bottom: 3em;
}
logo-block {
        display:block;
        border-bottom:dotted;
        padding-bottom:0.3em;
        padding-top:1.5em;
        margin-bottom:0.3em;
}
interesting-stuff {
        font-size: 70%;
        display:block;
        color:#222244;
        padding-top: .3em;
        text-align:justify;
}
.selected {
        background: #222244;
        color: white;
}
.selected::before {
        content: "> ";
}
.navbar-button:not(.selected)::before {
        content: "  ";
}
heading {
      display:block;
}
@media (orientation:portrait) {
        body {
                display: block;
                width: 90%;
        }
        heading {
                display: flex;
                padding-bottom:0.3em;
                border-bottom: dotted;
        }
        logo-block {
                flex:0.4;
                padding-top: 0;
                padding-right: .7em;
                border-right: double #222233 .2em;
                border-bottom: none;
                padding-bottom:0;
                margin-bottom:0;
        }
        interesting-stuff {
                border-bottom: none;
                padding-bottom: .2em;
        }
        navbar {
                margin:0;
                padding:0;
                margin-left:.25em;
                border-bottom:none;
                justify-content: space-between;
                flex:0.6;
                background-color:#bbbbcc;
                height:fill-available;
                display:flex;
                justify-content:center;

        }
        navbarinner {
                width:100%;
                background:white content-box;
                display:block;        
                margin:auto;
                padding:.3em 0;
                
        }
        .navbar-button {
                margin-top: 0.2em;
                margin-bottom: 0.2em;
                border-left: solid #bbbbcc;
                border-right: solid #bbbbcc;
                padding: 0 0.1em;
        }
        .selected {
                border-left: solid #222244;
                border-right: solid #222244;
        
        }
        .pane {
                height: auto;
        }
        .selected {
                background: #222244 content-box;
                color: white;
        }
        left-pane {
                margin-top:.3em;
                padding-bottom:0;
                padding-right:0;
                float:none;
                border-bottom:dotted;
                display:block;
        }
}